<app-breadcrumb [title]="'Profile'" [items]="['Security', 'Profile']" [active_item]="'Create Profile'"></app-breadcrumb>

<div class="container-fluid">
  <div class="edit-profile">
    <form class="row" [formGroup]="roleForm" (ngSubmit)="onFormSubmit()" id="ngForm">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0 f-w-700">Profile create</h5>
            <div class="card-options">
              <a class="card-options-collapse" href="javascript:void(0)" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="javascript:void(0)" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
            </div>
          </div>
          <div class="card-body">
            <div>

              <div class="col-md-12 mb-3">
                <label class="form-label">Name <span class="text-danger">*</span></label>
                <input class="form-control form-control-sm" type="text" placeholder="Ex. Admin" formControlName="name" [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
                <small class="invalid-feedback fst-italic" *ngIf="fc['name'].errors?.['required']">This field is required</small>
                <div class="invalid-feedback" *ngIf="fc['name'].errors?.['minlength']">Name must be atleast 3 caracters long</div>
                <div class="invalid-feedback" *ngIf="fc['name'].errors?.['serverError']">
                  {{ fc['name'].errors?.['serverError'] }}
                </div>
              </div>

            </div>
          </div>

          <div class="card-footer text-end">
            <!--            <button class="btn btn-primary" type="submit">Update Profile</button>-->
            <button form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]=saving>
              <ng-container *ngIf="!saving; else isSaving">{{data ? update : create}}</ng-container>
              <ng-template #isSaving>
                {{ "Submitting" | translate}} ...
              </ng-template>
            </button>
          </div>

        </div>
      </div>



      <div class="col-xl-8">
        <div class="card">
<!--          <div class="card-header">-->
<!--            <h5 class="card-title mb-0 f-w-700">Attribution</h5>-->
<!--            <div class="card-options">-->
<!--              <a class="card-options-collapse" href="javascript:void(0)" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="javascript:void(0)" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>-->
<!--            </div>-->
<!--          </div>-->

          <div class="card-body">

            <div class="row">
              <div class="col-md-12">
                <h6>Search</h6>
                <ngx-treeview [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)">
                </ngx-treeview>
              </div>

            </div>


          </div>



        </div>
      </div>


    </form>

<!--  <button form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-outline-primary" [disabled]=saving>-->
<!--    <ng-container *ngIf="!saving; else isSaving">{{data ? update : create}}</ng-container>-->
<!--    <ng-template #isSaving>-->
<!--      {{ "Submitting" | translate}} ...-->
<!--    </ng-template>-->
<!--  </button>-->

</div>














