<div class="modal-header">
  <h4 class="modal-title">Family</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">

  </button>
</div>
<div class="modal-body">
  <form [formGroup]="familyForm" (ngSubmit)="onFormSubmit()" id="ngForm">
    <div class="row">
      <div class="col-md-12">
        <label class="form-label">Family Name <span class="text-danger">*</span></label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="name" [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['name'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['name'].errors?.['minlength']">Name must be atleast 1 caracters long</div>
        <div class="invalid-feedback" *ngIf="fc['name'].errors?.['serverError']">
          {{ fc['name'].errors?.['serverError'] }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label"> Family Address </label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="address">
      </div>

      <div class="col-md-4">
        <label class="form-label"> Family Phone </label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="phone">
      </div>

      <div class="col-md-4">
        <label class="form-label"> Family Email </label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="email">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label"> Father Name </label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="fatherName">
      </div>

      <div class="col-md-4">
        <label class="form-label"> Father Phone </label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="fatherPhone">
      </div>

      <div class="col-md-4">
        <label class="form-label"> Father Profession </label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="fatherProfession">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label"> Mother Name </label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="motherName">
      </div>

      <div class="col-md-4">
        <label class="form-label"> Mother Phone </label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="motherPhone">
      </div>

      <div class="col-md-4">
        <label class="form-label"> Mother Profession </label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="motherProfession">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="form-label">SMS Subscription</label>

        <div class="btn-radio" >
          <div class="btn-group" data-bs-toggle="buttons">
            <div class="btn btn-light txt-dark">
              <div class="radio radio-dark">
                <input id="radio23" formControlName="issmssubscription" type="radio" value='1'>
                <label for="radio23">Yes</label>
              </div>
            </div>
            <div class="btn btn-light txt-dark">
              <div class="radio radio-dark">
                <input id="radio24" formControlName="issmssubscription" type="radio" value='0' checked='0'>
                <label for="radio24">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label">Email Subscription</label>

        <div class="btn-radio" >
          <div class="btn-group" data-bs-toggle="buttons">
            <div class="btn btn-light txt-dark">
              <div class="radio radio-dark">
                <input id="radio25" formControlName="isemailsubscription" type="radio" value='1'>
                <label for="radio25">Yes</label>
              </div>
            </div>
            <div class="btn btn-light txt-dark">
              <div class="radio radio-dark">
                <input id="radio26" formControlName="isemailsubscription" type="radio" value='0' checked='0'>
                <label for="radio26">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>


  <button form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-outline-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? update : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>

</div>














