<app-breadcrumb [title]="'study dashboard'" [items]="['Dashboard']" [active_item]="'Study dashboard'"></app-breadcrumb>
<div class="container-fluid">
   <div class="row">
     <div class="col-xxl-5 col-ed-6 col-xl-8 box-col-7">
       <app-hello-name-study></app-hello-name-study>
     </div>
<!--     <div class="col-xxl-5 col-ed-6 col-xl-8 box-col-7">
       <app-courses-study></app-courses-study>
     </div>-->
<!--     <div class="col-xxl-2 col-ed-3 col-xl-4 col-sm-6 box-col-5">
       <app-today-progress-study></app-today-progress-study>
     </div>-->
     <div class="col-xl-2 col-ed-3 d-xxl-block d-sm-none box-col-none">
       <app-more-details-study></app-more-details-study>
     </div>
     <div class="col-xxl-3 col-ed-5 col-xl-5 col-sm-6 box-col-5">
       <app-calendar-study></app-calendar-study>
     </div>
<!--     <div class="col-xxl-5 col-ed-7 col-xl-7 box-col-7">
       <app-learning-overview-study></app-learning-overview-study>
     </div>-->
  <!--   <div class="col-xxl-4 col-ed-7 col-xl-7 col-md-6 box-col-7">
       <app-activity-hours-study></app-activity-hours-study>
     </div>-->
<!--     <div class="col-xxl-3 col-ed-5 col-xl-5 col-md-6 box-col-5">
       <app-upcoming-events-study></app-upcoming-events-study>
     </div>-->
<!--     <div class="col-xxl-5 col-ed-12 box-col-12">
       <app-my-course-study></app-my-course-study>
     </div>-->
<!--     <div class="col-xxl-4 col-ed-6 col-md-7 box-col-7">-->
<!--       <app-upcoming-schedule-study></app-upcoming-schedule-study>-->
<!--     </div>-->
<!--     <div class="col-xxl-3 col-ed-6 col-md-5 col-sm-6 box-col-5">
       <app-active-lessons-study></app-active-lessons-study>
     </div>-->
   </div>
 </div>
