<app-breadcrumb [title]="'Time Table Model Day'" [items]="['Study']" [active_item]="'Time Table Model Day'"></app-breadcrumb>
<style>
  .custom-card-erp{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 800px) {
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
  }

</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">


            <div class="custom-card-erp">
                <div style="float:left;">
                    <input
                            type="text"
                            style="padding:5px;margin:5px auto;width:30%;"
                            placeholder="Type to filter the name column..."
                            (keyup)="updateFilter($event)"/>
                </div>


                <ngx-datatable
                        style="width: 100%"
                        class="material striped"
                        selectionType="checkbox"
                        [rows]="rows"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [limit]="10"
                        rowHeight="auto"
                        columnMode="force"
                        [scrollbarH]="true"
                        [loadingIndicator]="loadingIndicator"
                        [reorderable]="reorderable"
                        [selected]="selected"
                        (activate)="onActivate($event)"
                        (select)="onSelect($event)"
                        [selectAllRowsOnPage]="false"
                        [displayCheck]="displayCheck"
                >
                    <ngx-datatable-column
                            [width]="55"
                            [sortable]="false"
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            [headerCheckboxable]="true"
                            [checkboxable]="true"
                            [frozenLeft]="true"
                    >

                        <!--              <ng-template-->
                        <!--                      ngx-datatable-header-template-->
                        <!--                      let-value="value"-->
                        <!--                      let-allRowsSelected="allRowsSelected"-->
                        <!--                      let-selectFn="selectFn">-->
                        <!--                <input type="checkbox" [checked]="allRowsSelected"  (change)="selectFn(!allRowsSelected)"  />-->
                        <!--              </ng-template>-->

                        <!--              <ng-template-->
                        <!--                      ngx-datatable-cell-template-->
                        <!--                      let-value="value"-->
                        <!--                      let-isSelected="isSelected"-->
                        <!--                      let-onCheckboxChangeFn="onCheckboxChangeFn">-->
                        <!--                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />-->
                        <!--              </ng-template>-->

                    </ngx-datatable-column>

                    <ngx-datatable-column name="day">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class="f-w-700 sp-policy-erp">Day</span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="startAt">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{ row.startAt | date:'HH:mm a':'UTC' }}</span>
                        </ng-template>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class="f-w-700 sp-policy-erp">Start Time</span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="endAt">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{ row.endAt | date:'HH:mm a':'UTC' }}</span>
                        </ng-template>
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class="f-w-700 sp-policy-erp">End Time</span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="isValidated">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class="f-w-700 sp-policy-erp">Status</span>
                        </ng-template>

                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <ng-container *ngIf="row.isValidated == 1; else otherFormat">
                                <span class="badge rounded-pill badge-light-success">Validated</span>
                            </ng-container>
                            <ng-template #otherFormat>
                                <span class="badge rounded-pill badge-light-danger">Un-Validated</span>
                            </ng-template>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [frozenRight]="true" name="actions">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class="f-w-700 sp-policy-erp">Actions</span>
                        </ng-template>
                        <ng-template  let-row="row" let-value="value" ngx-datatable-cell-template>
                         <a (click)="addTimeTableModelDayCell(row)"><i class="icon-pencil-alt text-success" style="cursor: pointer"></i></a>
<!--                            <a (click)="editTimeTableModelDay(row)"><i class="icon-pencil-alt text-success" style="cursor: pointer"></i></a>-->
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

            </div>


        </div>
    </div>
</div>

<!--<div style="float:left;width:75%">-->
<!--  <ngx-datatable-->
<!--          style="width: 90%"-->
<!--          class="material"-->
<!--          [rows]="rows"-->
<!--          columnMode="force"-->
<!--          selectionType="checkbox"-->
<!--          [headerHeight]="50"-->
<!--          [footerHeight]="50"-->
<!--          rowHeight="auto"-->
<!--          [limit]="5"-->
<!--          [selected]="selected"-->
<!--          [selectAllRowsOnPage]="false"-->
<!--          [displayCheck]="displayCheck"-->
<!--          (activate)="onActivate($event)"-->
<!--          (select)="onSelect($event)"-->
<!--  >-->
<!--    <ngx-datatable-column-->
<!--            [width]="30"-->
<!--            [sortable]="false"-->
<!--            [canAutoResize]="false"-->
<!--            [draggable]="false"-->
<!--            [resizeable]="false"-->
<!--            [headerCheckboxable]="true"-->
<!--            [checkboxable]="true"-->
<!--    >-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Name"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Gender"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Company"></ngx-datatable-column>-->
<!--  </ngx-datatable>-->
<!--</div>-->

<!-- <div class="selected-column">
  <h4>
    Selections <small>({{ selected?.length }})</small>
  </h4>
  <ul>
    <li *ngFor="let sel of selected">
      {{ sel.name }}
    </li>
    <li *ngIf="!selected?.length">No Selections</li>
  </ul>
</div> -->




