<app-breadcrumb [title]="'Tuition'" [items]="['Schooling']" [active_item]="'Tuition'"></app-breadcrumb>
<style>
    .custom-card-erp{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 800px) {
        .desktop-hidden {
            display: initial;
        }
        .mobile-hidden {
            display: none;
        }
    }
    @media screen and (min-width: 800px) {
        .desktop-hidden {
            display: none;
        }
        .mobile-hidden {
            display: initial;
        }
    }

</style>

<div class="card">
    <div class="card-body">

        <div>
            <div  [formGroup]="tuitionForm" (ngSubmit)="onFormSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label"> Cost Area <span class="text-danger">*</span></label>
                        <ng-select
                                [items]="costAreas"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Choose a cost area"
                                formControlName="costArea"
                                [ngClass]="{'is-invalid': fc['costArea'].invalid && isSubmitted}"
                                [(ngModel)]="costAreaSelected">
                        </ng-select>
                        <small class="invalid-feedback fst-italic" *ngIf="fc['costArea'].errors?.['required']">This field is required</small>
                        <div class="invalid-feedback" *ngIf="fc['costArea'].errors?.['serverError']">
                            {{ fc['costArea'].errors?.['serverError'] }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label"> Pension Scheme </label>
                        <ng-select
                                [items]="pensionSchemes"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Choose a pension scheme"
                                formControlName="pensionScheme"
                                [ngClass]="{'is-invalid': fc['pensionScheme'].invalid && isSubmitted}"
                                [(ngModel)]="pensionSchemeSelected">
                        </ng-select>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label"> School </label>
                        <ng-select
                                [items]="schools"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Choose a school"
                                formControlName="school"
                                [ngClass]="{'is-invalid': fc['school'].invalid && isSubmitted}"
                                [(ngModel)]="schoolSelected">
                        </ng-select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label"> Cycle </label>
                        <ng-select
                                [items]="cycles"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Choose a cycle"
                                formControlName="cycle"
                                [ngClass]="{'is-invalid': fc['cycle'].invalid && isSubmitted}"
                                [(ngModel)]="cycleSelected"
                                (change)="applyCycleFilter($event)">
                        </ng-select>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label"> Speciality </label>
                        <ng-select
                                [items]="specialitiesFiltered"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Choose a speciality"
                                formControlName="speciality"
                                [ngClass]="{'is-invalid': fc['speciality'].invalid && isSubmitted}"
                                [(ngModel)]="specialitySelected"
                                (change)="applySpecialityFilter($event)">
                        </ng-select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label"> Level </label>
                        <ng-select
                                [items]="levelsFiltered"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Choose a level"
                                formControlName="level"
                                [ngClass]="{'is-invalid': fc['level'].invalid && isSubmitted}"
                                [(ngModel)]="levelSelected">
                        </ng-select>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label"> Training Type </label>
                        <ng-select
                                [items]="trainingTypes"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Choose a trainingType"
                                formControlName="trainingType"
                                [ngClass]="{'is-invalid': fc['trainingType'].invalid && isSubmitted}"
                                [(ngModel)]="trainingTypeSelected">
                        </ng-select>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label"> Limit Payment Date <span class="text-danger">*</span></label>
                        <input class="form-control form-control-sm" type="date" placeholder="Ex. A" formControlName="paymentDate" [ngClass]="{'is-invalid': fc['paymentDate'].invalid && isSubmitted}">
                        <small class="invalid-feedback fst-italic" *ngIf="fc['paymentDate'].errors?.['required']">This field is required</small>
                        <div class="invalid-feedback" *ngIf="fc['paymentDate'].errors?.['serverError']">
                            {{ fc['paymentDate'].errors?.['serverError'] }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Registration Fees <span class="text-danger">*</span></label>
                        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="registrationFees" [ngClass]="{'is-invalid': fc['registrationFees'].invalid && isSubmitted}">
                        <small class="invalid-feedback fst-italic" *ngIf="fc['registrationFees'].errors?.['required']">This field is required</small>
                        <div class="invalid-feedback" *ngIf="fc['registrationFees'].errors?.['serverError']">
                            {{ fc['registrationFees'].errors?.['serverError'] }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Re-registration Fees </label>
                        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="reRegistrationFees" [ngClass]="{'is-invalid': fc['reRegistrationFees'].invalid && isSubmitted}">
                        <small class="invalid-feedback fst-italic" *ngIf="fc['reRegistrationFees'].errors?.['required']">This field is required</small>
                        <div class="invalid-feedback" *ngIf="fc['reRegistrationFees'].errors?.['serverError']">
                            {{ fc['reRegistrationFees'].errors?.['serverError'] }}
                        </div>
                    </div>
                </div>

                <br>


                <div class="d-flex justify-content-between" style="margin-right: 10px;">
                <button (click)="close()" type="button" style="margin-right: 10px;" class="btn btn-sm btn-outline-dark" routerLink="/school/schooling/tuition">Close</button>
                <button (click)="onFormSubmit()" type="button" class="btn btn-sm btn-outline-primary" [disabled]=saving>
                    <ng-container *ngIf="!saving; else isSaving">{{data ? update : create}}</ng-container>
                    <ng-template #isSaving>
                        {{ "Submitting" | translate}} ...
                    </ng-template>
                </button>
                </div>


            </div>


        </div>
    </div>
</div>
