<div class="modal-header">
  <h4 class="modal-title">Menu</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">

  </button>
</div>
<div class="modal-body">
  <form [formGroup]="menuForm" (ngSubmit)="onFormSubmit()" id="ngForm">

    <div class="row">
      <div class="col-md-4">
        <label class="form-label">Module <span class="text-danger">*</span></label>
        <ng-select
                [loading]="true"
                [loadingText]="loading"
                [items]="modules"
                bindLabel="name"
                bindValue="id"
                placeholder="Choose a module"
                formControlName="module"
                [ngClass]="{'is-invalid': fc['module'].invalid && isSubmitted}"
                [(ngModel)]="moduleSelected"
                (change)="applyModuleFilter($event)">

          <ng-template ng-loadingspinner-tmp></ng-template>

          <!--                <ng-template ng-loadingspinner-tmp>-->
          <!--                  <div class="lds-ellipsis">-->
          <!--                    <div></div>-->
          <!--                    <div></div>-->
          <!--                    <div></div>-->
          <!--                    <div></div>-->
          <!--                  </div>-->
          <!--                </ng-template>-->

        </ng-select>

        <div class="invalid-feedback" *ngIf="fc['module'].errors?.['required']">This field is required</div>
        <div class="invalid-feedback" *ngIf="fc['module'].errors?.['serverError']">
          {{ fc['module'].errors?.['serverError'] }}
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Type <span class="text-danger">*</span></label>
        <ng-select
                [items]="types"
                bindLabel="name"
                bindValue="name"
                placeholder="Choose a category"
                formControlName="type"
                [ngClass]="{'is-invalid': fc['type'].invalid && isSubmitted}"
                [(ngModel)]="categorySelected"
                (change)="checkType($event)">
        </ng-select>
        <div class="invalid-feedback" *ngIf="fc['type'].errors?.['required']">This field is required</div>
        <div class="invalid-feedback" *ngIf="fc['type'].errors?.['serverError']">
          {{ fc['type'].errors?.['serverError'] }}
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Name <span class="text-danger">*</span></label>
        <input class="form-control form-control-sm bg-gradient" type="text" placeholder="Ex. Menu" formControlName="name" [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['name'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['name'].errors?.['minlength']">Name must be atleast 3 caracters long</div>
        <div class="invalid-feedback" *ngIf="fc['name'].errors?.['serverError']">
          {{ fc['name'].errors?.['serverError'] }}
        </div>
      </div>

    </div>

    <div class="row mt-1">
      <div class="col-md-5">
        <label class="form-label">Path</label>
        <input [readonly]="status" class="form-control form-control-sm" type="text" placeholder="Ex. /security/" formControlName="path" [ngClass]="{'is-invalid': fc['path'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['path'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['path'].errors?.['serverError']">
          {{ fc['path'].errors?.['serverError'] }}
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Icon</label>
        <input [readonly]="childExist" class="form-control form-control-sm" type="text" placeholder="Ex. fas fa-user" formControlName="icon" [ngClass]="{'is-invalid': fc['icon'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['icon'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['icon'].errors?.['serverError']">
          {{ fc['icon'].errors?.['serverError'] }}
        </div>
      </div>

      <div class="col-md-3">
        <label class="form-label">Position </label>
        <input class="form-control form-control-sm" type="number" placeholder="Ex. 10" formControlName="positionSingle" [ngClass]="{'is-invalid': fc['positionSingle'].invalid && isSubmitted}">
        <div class="invalid-feedback" *ngIf="fc['positionSingle'].errors?.['serverError']">
          {{ fc['positionSingle'].errors?.['serverError'] }}
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-12">
        <label class="form-label">Parent</label>
        <ng-select
                [items]="childrensFiltered"
                bindLabel="name"
                bindValue="id"
                placeholder="Choose a parent"
                formControlName="children"
                [ngClass]="{'is-invalid': fc['children'].invalid && isSubmitted}"
                [(ngModel)]="childrenSelected"
                (change)="checkChildren($event)"
                [readonly]="status"
        >
        </ng-select>
        <div class="invalid-feedback" *ngIf="fc['children'].errors?.['required']">This field is required</div>
        <div class="invalid-feedback" *ngIf="fc['children'].errors?.['serverError']">
          {{ fc['children'].errors?.['serverError'] }}
        </div>
      </div>
    </div>


  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>

  <button form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-outline-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? update : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>

</div>














