<app-breadcrumb [title]="'Teacher'" [items]="['Study']" [active_item]="'Teacher'"></app-breadcrumb>
<style>
  .custom-card-erp{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 800px) {
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
  }

</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">


      <div class="custom-card-erp">
        <div style="float:left;">
          <input
                  type="text"
                  style="padding:5px;margin:5px auto;width:30%;"
                  placeholder="Type to filter the name column..."
                  (keyup)="updateFilter($event)"
          />
          <div style="float: right; margin: 5px;">
            <button class="btn btn-outline-primary" (click)="addTeacher()">Add</button>
          </div>

          <div class="btn-group-vertical" role="group" aria-label="Vertical button group" *ngIf="this.isButtonVisible">
            <div ngbDropdown class="btn-group" role="group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownBasic1"
                      ngbDropdownToggle>Dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="deleteSelectedTeacherRows()">Delete selection</button>
                  <button class="dropdown-item" (click)="assignSelectedTeacherRows()">Assign selection</button>
              </div>
            </div>
          </div>

        </div>


          <ngx-datatable
                  style="width: 100%"
                  class="material striped"
                  selectionType="checkbox"
                  [rows]="rows"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [limit]="10"
                  rowHeight="auto"
                  columnMode="force"
                  [scrollbarH]="true"
                  [loadingIndicator]="loadingIndicator"
                  [reorderable]="reorderable"
                  [selected]="selected"
                  (activate)="onActivate($event)"
                  (select)="onSelect($event)"
                  [selectAllRowsOnPage]="false"
                  [displayCheck]="displayCheck"
          >
            <ngx-datatable-column
                    [width]="55"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                    [headerCheckboxable]="true"
                    [checkboxable]="true"
                    [frozenLeft]="true"
            >

<!--              <ng-template-->
<!--                      ngx-datatable-header-template-->
<!--                      let-value="value"-->
<!--                      let-allRowsSelected="allRowsSelected"-->
<!--                      let-selectFn="selectFn">-->
<!--                <input type="checkbox" [checked]="allRowsSelected"  (change)="selectFn(!allRowsSelected)"  />-->
<!--              </ng-template>-->

<!--              <ng-template-->
<!--                      ngx-datatable-cell-template-->
<!--                      let-value="value"-->
<!--                      let-isSelected="isSelected"-->
<!--                      let-onCheckboxChangeFn="onCheckboxChangeFn">-->
<!--                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />-->
<!--              </ng-template>-->

            </ngx-datatable-column>
            <ngx-datatable-column name="registrationNumber">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Matricule</span>
              </ng-template>
            </ngx-datatable-column>

              <ngx-datatable-column name="name">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Name</span>
              </ng-template>
            </ngx-datatable-column>
              <ngx-datatable-column name="firstName">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">First Name</span>
                  </ng-template>
              </ngx-datatable-column>

            <ngx-datatable-column name="dob">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Date of Birth</span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row.dob | date:'dd/MM/yyyy'}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="bornTowards">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Born Towards</span>
              </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row.bornTowards | date:'dd/MM/yyyy'}}
                </ng-template>
            </ngx-datatable-column>

              <ngx-datatable-column name="pob">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Place of Birth</span>
              </ng-template>
            </ngx-datatable-column>

              <ngx-datatable-column name="sex">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Sex</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.sex ? row.sex.name : '' }}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="civility">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Civility</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.civility ? row.civility.name : '' }}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="country">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Country</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.country ? row.country.name : '' }}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="religion">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Religion</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.religion ? row.religion.name : '' }}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="regionOrigin">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Region</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.regionOrigin ? row.regionOrigin.name : '' }}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="subject">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Subject</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <div *ngFor="let subject of row.subjects">
                          {{ subject.name }} <br>
                      </div>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="phone">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Phone</span>
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="email">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Email</span>
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="occupation">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Occupation</span>
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="quarter">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Quarter</span>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="city">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">City</span>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="address">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Address</span>
                  </ng-template>
              </ngx-datatable-column>

            <ngx-datatable-column [frozenRight]="true" name="actions">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Actions</span>
              </ng-template>
              <ng-template  let-row="row" let-value="value" ngx-datatable-cell-template>
                <a (click)="editTeacher(row)"><i class="icon-pencil-alt text-success" style="cursor: pointer"></i></a>
                <a (click)="deleteTeacher(row.id)"><i class="icon-trash text-danger ms-2" style="cursor: pointer"></i></a>
                <a (click)="assignTeacher(row.id)"><i class="icon-user text-warning ms-2" style="cursor: pointer"></i></a>

              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

      </div>


    </div>
    </div>
  </div>



<!--<div style="float:left;width:75%">-->
<!--  <ngx-datatable-->
<!--          style="width: 90%"-->
<!--          class="material"-->
<!--          [rows]="rows"-->
<!--          columnMode="force"-->
<!--          selectionType="checkbox"-->
<!--          [headerHeight]="50"-->
<!--          [footerHeight]="50"-->
<!--          rowHeight="auto"-->
<!--          [limit]="5"-->
<!--          [selected]="selected"-->
<!--          [selectAllRowsOnPage]="false"-->
<!--          [displayCheck]="displayCheck"-->
<!--          (activate)="onActivate($event)"-->
<!--          (select)="onSelect($event)"-->
<!--  >-->
<!--    <ngx-datatable-column-->
<!--            [width]="30"-->
<!--            [sortable]="false"-->
<!--            [canAutoResize]="false"-->
<!--            [draggable]="false"-->
<!--            [resizeable]="false"-->
<!--            [headerCheckboxable]="true"-->
<!--            [checkboxable]="true"-->
<!--    >-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Name"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Gender"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Company"></ngx-datatable-column>-->
<!--  </ngx-datatable>-->
<!--</div>-->

<!-- <div class="selected-column">
  <h4>
    Selections <small>({{ selected?.length }})</small>
  </h4>
  <ul>
    <li *ngFor="let sel of selected">
      {{ sel.name }}
    </li>
    <li *ngIf="!selected?.length">No Selections</li>
  </ul>
</div> -->




