.invalid-feedback{
  font-size: 11px;
}

::placeholder{
  //chrome, firefox, opera, safari
  color: #2F2F3B;
  opacity: 0.3;
}
:-ms-input-placeholder{
  // internet explorer
  color: #2F2F3B;
  opacity: 0.3;
}
::-ms-input-placeholder{
  //Edge
  color: #2F2F3B;
  opacity: 0.3;
}

.form-control-sm {
  color: #2F2F3B;
}