<app-breadcrumb [title]="'Speciality Year'" [items]="['Study']" [active_item]="'Speciality Year'"></app-breadcrumb>
<style>
  .custom-card-erp{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 800px) {
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
  }

</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">


      <div class="custom-card-erp">
        <div style="float:left;">
          <input
                  type="text"
                  style="padding:5px;margin:5px auto;width:30%;"
                  placeholder="Type to filter the name column..."
                  (keyup)="updateFilter($event)"
          />
          <div style="float: right; margin: 5px;">
            <button class="btn btn-outline-primary" (click)="addSpecialityYear()">Add</button>
          </div>

          <div class="btn-group-vertical" role="group" aria-label="Vertical button group" *ngIf="this.isButtonVisible">
            <div ngbDropdown class="btn-group" role="group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownBasic1"
                      ngbDropdownToggle>Dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="deleteSelectedSpecialityYearRows()">Delete selection</button>
                <button class="dropdown-item">Dropdown link</button>
              </div>
            </div>
          </div>

        </div>


          <ngx-datatable
                  style="width: 100%"
                  class="material striped"
                  selectionType="checkbox"
                  [rows]="rows"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [limit]="10"
                  rowHeight="auto"
                  columnMode="force"
                  [scrollbarH]="true"
                  [loadingIndicator]="loadingIndicator"
                  [reorderable]="reorderable"
                  [selected]="selected"
                  (activate)="onActivate($event)"
                  (select)="onSelect($event)"
                  [selectAllRowsOnPage]="false"
                  [displayCheck]="displayCheck"
          >
            <ngx-datatable-column
                    [width]="55"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                    [headerCheckboxable]="true"
                    [checkboxable]="true"
            >

<!--              <ng-template-->
<!--                      ngx-datatable-header-template-->
<!--                      let-value="value"-->
<!--                      let-allRowsSelected="allRowsSelected"-->
<!--                      let-selectFn="selectFn">-->
<!--                <input type="checkbox" [checked]="allRowsSelected"  (change)="selectFn(!allRowsSelected)"  />-->
<!--              </ng-template>-->

<!--              <ng-template-->
<!--                      ngx-datatable-cell-template-->
<!--                      let-value="value"-->
<!--                      let-isSelected="isSelected"-->
<!--                      let-onCheckboxChangeFn="onCheckboxChangeFn">-->
<!--                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />-->
<!--              </ng-template>-->

            </ngx-datatable-column>

            <ngx-datatable-column name="year">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Year</span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row.year ? row.year.year : "" }}
              </ng-template>
            </ngx-datatable-column>

          <ngx-datatable-column name="speciality">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="f-w-700 sp-policy-erp">Speciality</span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.speciality ? row.speciality.name : "" }}
          </ng-template>
        </ngx-datatable-column>

            <ngx-datatable-column name="minannualquota">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Min Annual Quota</span>
              </ng-template>
            </ngx-datatable-column>

          <ngx-datatable-column name="maxannualquota">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="f-w-700 sp-policy-erp">Max Annual Quota</span>
          </ng-template>
        </ngx-datatable-column>

          <ngx-datatable-column name="minmonthlyquota">
              <ng-template let-column="column" ngx-datatable-header-template>
                  <span class="f-w-700 sp-policy-erp">Min Monthly Quota</span>
              </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="maxmonthlyquota">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="f-w-700 sp-policy-erp">Max Monthly Quota</span>
          </ng-template>
         </ngx-datatable-column>

          <ngx-datatable-column name="minweeklyquota">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="f-w-700 sp-policy-erp">Min Weekly Quota</span>
          </ng-template>
        </ngx-datatable-column>

          <ngx-datatable-column name="maxweeklyquota">
              <ng-template let-column="column" ngx-datatable-header-template>
                  <span class="f-w-700 sp-policy-erp">Max Weekly Quota</span>
              </ng-template>
          </ngx-datatable-column>
            
            <ngx-datatable-column name="actions">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Actions</span>
              </ng-template>
              <ng-template  let-row="row" let-value="value" ngx-datatable-cell-template>
                <a (click)="editSpecialityYear(row)"><i class="icon-pencil-alt text-success" style="cursor: pointer"></i></a>
                <a (click)="deleteSpecialityYear(row.id)"><i class="icon-trash text-danger ms-2" style="cursor: pointer"></i></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

      </div>


    </div>
    </div>
  </div>



<!--<div style="float:left;width:75%">-->
<!--  <ngx-datatable-->
<!--          style="width: 90%"-->
<!--          class="material"-->
<!--          [rows]="rows"-->
<!--          columnMode="force"-->
<!--          selectionType="checkbox"-->
<!--          [headerHeight]="50"-->
<!--          [footerHeight]="50"-->
<!--          rowHeight="auto"-->
<!--          [limit]="5"-->
<!--          [selected]="selected"-->
<!--          [selectAllRowsOnPage]="false"-->
<!--          [displayCheck]="displayCheck"-->
<!--          (activate)="onActivate($event)"-->
<!--          (select)="onSelect($event)"-->
<!--  >-->
<!--    <ngx-datatable-column-->
<!--            [width]="30"-->
<!--            [sortable]="false"-->
<!--            [canAutoResize]="false"-->
<!--            [draggable]="false"-->
<!--            [resizeable]="false"-->
<!--            [headerCheckboxable]="true"-->
<!--            [checkboxable]="true"-->
<!--    >-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Name"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Gender"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Company"></ngx-datatable-column>-->
<!--  </ngx-datatable>-->
<!--</div>-->

<!-- <div class="selected-column">
  <h4>
    Selections <small>({{ selected?.length }})</small>
  </h4>
  <ul>
    <li *ngFor="let sel of selected">
      {{ sel.name }}
    </li>
    <li *ngIf="!selected?.length">No Selections</li>
  </ul>
</div> -->




