<app-breadcrumb [title]="'Class Program'" [items]="['Study']" [active_item]="'Class Program'"></app-breadcrumb>
<style>
  .custom-card-erp{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 800px) {
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
  }

</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">


      <div class="custom-card-erp">
        <div style="float:left;">
          <input
                  type="text"
                  style="padding:5px;margin:5px auto;width:30%;"
                  placeholder="Type to filter the name column..."
                  (keyup)="updateFilter($event)"
          />
          <div style="float: right; margin: 5px;">
            <button class="btn btn-outline-primary" (click)="addClassProgram()">Add</button>
          </div>

          <div class="btn-group-vertical" role="group" aria-label="Vertical button group" *ngIf="this.isButtonVisible">
            <div ngbDropdown class="btn-group" role="group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownBasic1"
                      ngbDropdownToggle>Dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="deleteSelectedClassProgramRows()">Delete selection</button>
                <button class="dropdown-item">Dropdown link</button>
              </div>
            </div>
          </div>

        </div>


          <ngx-datatable
                  style="width: 100%"
                  class="material striped"
                  selectionType="checkbox"
                  [rows]="rows"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [limit]="10"
                  rowHeight="auto"
                  columnMode="force"
                  [scrollbarH]="true"
                  [loadingIndicator]="loadingIndicator"
                  [reorderable]="reorderable"
                  [selected]="selected"
                  (activate)="onActivate($event)"
                  (select)="onSelect($event)"
                  [selectAllRowsOnPage]="false"
                  [displayCheck]="displayCheck"
          >
            <ngx-datatable-column
                    [width]="55"
                    [sortable]="false"
                    [canAutoResize]="false"
                    [draggable]="false"
                    [resizeable]="false"
                    [headerCheckboxable]="true"
                    [checkboxable]="true"
                    [frozenLeft]="true"
            >

<!--              <ng-template-->
<!--                      ngx-datatable-header-template-->
<!--                      let-value="value"-->
<!--                      let-allRowsSelected="allRowsSelected"-->
<!--                      let-selectFn="selectFn">-->
<!--                <input type="checkbox" [checked]="allRowsSelected"  (change)="selectFn(!allRowsSelected)"  />-->
<!--              </ng-template>-->

<!--              <ng-template-->
<!--                      ngx-datatable-cell-template-->
<!--                      let-value="value"-->
<!--                      let-isSelected="isSelected"-->
<!--                      let-onCheckboxChangeFn="onCheckboxChangeFn">-->
<!--                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />-->
<!--              </ng-template>-->

            </ngx-datatable-column>

              <ngx-datatable-column name="year">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Year</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.year ? row.year.year : "" }}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="school">
              <ng-template let-column="column" ngx-datatable-header-template>
                  <span class="f-w-700 sp-policy-erp">School</span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.school ? row.school.name : "" }}
              </ng-template>
          </ngx-datatable-column>
              <ngx-datatable-column name="class">
              <ng-template let-column="column" ngx-datatable-header-template>
                  <span class="f-w-700 sp-policy-erp">Class</span>
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.class ? row.class.code : "" }}
              </ng-template>
          </ngx-datatable-column>
              <ngx-datatable-column name="subject">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Subject</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.subject ? row.subject.name : "" }}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="module">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Module</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.module ? row.module.name : "" }}
                  </ng-template>
              </ngx-datatable-column>
<!--              <ngx-datatable-column name="teacher">-->
<!--                  <ng-template let-column="column" ngx-datatable-header-template>-->
<!--                      <span class="f-w-700 sp-policy-erp">Teacher</span>-->
<!--                  </ng-template>-->
<!--                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
<!--                      {{row.teacher ? row.teacher.name : "" }}-->
<!--                  </ng-template>-->
<!--              </ngx-datatable-column>-->

              <ngx-datatable-column name="teacherCm">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Teacher Cm</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.teacherCm ? row.teacherCm.name : "" }}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="teacherTd">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Teacher Td</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.teacherTd ? row.teacherTd.name : "" }}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="teacherTp">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">teacher Tp</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.teacherTp ? row.teacherTp.name : "" }}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="teacherMark">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Teacher Mark</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.teacherMark ? row.teacherMark.name : "" }}
                  </ng-template>
              </ngx-datatable-column>

<!--              <ngx-datatable-column name="isActif">-->
<!--                  <ng-template let-column="column" ngx-datatable-header-template>-->
<!--                      <span class="f-w-700 sp-policy-erp">Actif</span>-->
<!--                  </ng-template>-->

<!--                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
<!--                      <ng-container *ngIf="row.isActif === 1; else otherFormat">-->
<!--                          <span>Yes</span>-->
<!--                      </ng-container>-->
<!--                      <ng-template #otherFormat>-->
<!--                          <span>No</span>-->
<!--                      </ng-template>-->
<!--                  </ng-template>-->
<!--              </ngx-datatable-column>-->

              <ngx-datatable-column name="codeuvc">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Code UVC</span>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="nameuvc">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Name UVC</span>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="periodType">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Period Type</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.periodType ? row.periodType.name : "" }}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="position">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Position</span>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="coeff">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">coeff</span>
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="principalRoom">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Principal Room</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.principalRoom ? row.principalRoom.name : "" }}
                  </ng-template>

              </ngx-datatable-column>

              <ngx-datatable-column name="nature">
                  <ng-template let-column="column" ngx-datatable-header-template>
                      <span class="f-w-700 sp-policy-erp">Nature</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{row.nature ? row.nature.name : "" }}
                  </ng-template>
              </ngx-datatable-column>

            <ngx-datatable-column [frozenRight]="true" name="actions">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="f-w-700 sp-policy-erp">Actions</span>
              </ng-template>
              <ng-template  let-row="row" let-value="value" ngx-datatable-cell-template>
                <a (click)="editClassProgram(row)"><i class="icon-pencil-alt text-success" style="cursor: pointer"></i></a>
                <a (click)="deleteClassProgram(row.id)"><i class="icon-trash text-danger ms-2" style="cursor: pointer"></i></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

      </div>


    </div>
    </div>
  </div>



<!--<div style="float:left;width:75%">-->
<!--  <ngx-datatable-->
<!--          style="width: 90%"-->
<!--          class="material"-->
<!--          [rows]="rows"-->
<!--          columnMode="force"-->
<!--          selectionType="checkbox"-->
<!--          [headerHeight]="50"-->
<!--          [footerHeight]="50"-->
<!--          rowHeight="auto"-->
<!--          [limit]="5"-->
<!--          [selected]="selected"-->
<!--          [selectAllRowsOnPage]="false"-->
<!--          [displayCheck]="displayCheck"-->
<!--          (activate)="onActivate($event)"-->
<!--          (select)="onSelect($event)"-->
<!--  >-->
<!--    <ngx-datatable-column-->
<!--            [width]="30"-->
<!--            [sortable]="false"-->
<!--            [canAutoResize]="false"-->
<!--            [draggable]="false"-->
<!--            [resizeable]="false"-->
<!--            [headerCheckboxable]="true"-->
<!--            [checkboxable]="true"-->
<!--    >-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Name"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Gender"></ngx-datatable-column>-->
<!--    <ngx-datatable-column name="Company"></ngx-datatable-column>-->
<!--  </ngx-datatable>-->
<!--</div>-->

<!-- <div class="selected-column">
  <h4>
    Selections <small>({{ selected?.length }})</small>
  </h4>
  <ul>
    <li *ngFor="let sel of selected">
      {{ sel.name }}
    </li>
    <li *ngIf="!selected?.length">No Selections</li>
  </ul>
</div> -->




