<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">

  </button>
</div>
<div class="modal-body">
  <form [formGroup]="moduleForm" (ngSubmit)="onFormSubmit()" id="ngForm">
    <div class="row">
      <div class="col-md-4">
        <label class="form-label">Name <span class="text-danger">*</span></label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="name" [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['name'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['name'].errors?.['minlength']">Name must be atleast 3 caracters long</div>
        <div class="invalid-feedback" *ngIf="fc['name'].errors?.['serverError']">
          {{ fc['name'].errors?.['serverError'] }}
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Tel <span class="text-danger">*</span></label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="tel" [ngClass]="{'is-invalid': fc['tel'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['tel'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['tel'].errors?.['minlength']">tel must be atleast 3 caracters long</div>
        <div class="invalid-feedback" *ngIf="fc['tel'].errors?.['serverError']">
          {{ fc['tel'].errors?.['serverError'] }}
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">email <span class="text-danger">*</span></label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="email" [ngClass]="{'is-invalid': fc['email'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['email'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['email'].errors?.['minlength']">email must be atleast 3 caracters long</div>
        <div class="invalid-feedback" *ngIf="fc['email'].errors?.['serverError']">
          {{ fc['email'].errors?.['serverError'] }}
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label">phone_number <span class="text-danger">*</span></label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="phone_number" [ngClass]="{'is-invalid': fc['phone_number'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['phone_number'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['phone_number'].errors?.['minlength']">phone_number must be atleast 3 caracters long</div>
        <div class="invalid-feedback" *ngIf="fc['phone_number'].errors?.['serverError']">
          {{ fc['phone_number'].errors?.['serverError'] }}
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">amount <span class="text-danger">*</span></label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="amount" [ngClass]="{'is-invalid': fc['amount'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['amount'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['amount'].errors?.['minlength']">amount must be atleast 3 caracters long</div>
        <div class="invalid-feedback" *ngIf="fc['amount'].errors?.['serverError']">
          {{ fc['amount'].errors?.['serverError'] }}
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">reference <span class="text-danger">*</span></label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="reference" [ngClass]="{'is-invalid': fc['reference'].invalid && isSubmitted}">
        <small class="invalid-feedback fst-italic" *ngIf="fc['reference'].errors?.['required']">This field is required</small>
        <div class="invalid-feedback" *ngIf="fc['reference'].errors?.['minlength']">reference must be atleast 3 caracters long</div>
        <div class="invalid-feedback" *ngIf="fc['reference'].errors?.['serverError']">
          {{ fc['reference'].errors?.['serverError'] }}
        </div>
      </div>

    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>

  <button form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-outline-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? update : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>
</div>














