<div class="modal-header">
  <h4 class="modal-title">Change Of Class</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">

  </button>
</div>
<div class="modal-body">
  <form [formGroup]="changeClassForm" (ngSubmit)="onFormSubmit()" id="ngForm">

    <div class="row">
      <div class="col-md-6">
        <label class="form-label"> Old Year </label>
        <ng-select
                [items]="years"
                bindLabel="year"
                bindValue="id"
                placeholder="Choose a year"
                formControlName="oldYear"
                [ngClass]="{'is-invalid': fc['oldYear'].invalid && isSubmitted}"
                [(ngModel)]="oldYearSelected">
        </ng-select>
      </div>

      <div class="col-md-6">
        <label class="form-label"> Old Class </label>
        <ng-select
                [items]="classes"
                bindLabel="code"
                bindValue="id"
                placeholder="Choose a class"
                formControlName="oldClasse"
                [ngClass]="{'is-invalid': fc['oldClasse'].invalid && isSubmitted}"
                [(ngModel)]="oldClassSelected">
        </ng-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="form-label"> Name <span class="text-danger">*</span></label>
        <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="name" readonly>
    </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="form-label"> New Year </label>
        <ng-select
                [items]="years"
                bindLabel="year"
                bindValue="id"
                placeholder="Choose a year"
                formControlName="newYear"
                [ngClass]="{'is-invalid': fc['newYear'].invalid && isSubmitted}"
                [(ngModel)]="newYearSelected"
                (change)="applyYearFilter($event)">
        </ng-select>
      </div>

      <div class="col-md-6">
        <label class="form-label"> New Class </label>
        <ng-select
                [items]="classesFiltered"
                bindLabel="code"
                bindValue="id"
                placeholder="Choose a class"
                formControlName="newClasse"
                [ngClass]="{'is-invalid': fc['newClasse'].invalid && isSubmitted}"
                [(ngModel)]="newClassSelected">
        </ng-select>
      </div>
    </div>


  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>


  <button form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-outline-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? update : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>

</div>














