<div class="modal-header">
  <h4 class="modal-title">Teacher Year</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">

  </button>
</div>
<div class="modal-body">
  <form [formGroup]="teacherYearForm" (ngSubmit)="onFormSubmit()" id="ngForm">
    <div class="row">
      
      <div class="col-md-6">
        <label class="form-label"> Year <span class="text-danger">*</span></label>
        <ng-select
                [items]="years"
                bindLabel="year"
                bindValue="id"
                placeholder="Choose a year"
                formControlName="year"
                [ngClass]="{'is-invalid': fc['year'].invalid && isSubmitted}"
                [(ngModel)]="yearSelected">
        </ng-select>
        <div class="invalid-feedback" *ngIf="fc['year'].errors?.['required']">This field is required</div>
        <div class="invalid-feedback" *ngIf="fc['year'].errors?.['serverError']">
          {{ fc['year'].errors?.['serverError'] }}
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label"> Teacher <span class="text-danger">*</span></label>
        <ng-select
                [items]="teachers"
                bindLabel="name"
                bindValue="id"
                placeholder="Choose a teacher"
                formControlName="teacher"
                [ngClass]="{'is-invalid': fc['teacher'].invalid && isSubmitted}"
                [(ngModel)]="teacherSelected">
        </ng-select>
        <div class="invalid-feedback" *ngIf="fc['teacher'].errors?.['required']">This field is required</div>
        <div class="invalid-feedback" *ngIf="fc['teacher'].errors?.['serverError']">
          {{ fc['teacher'].errors?.['serverError'] }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="form-label">Min Annual Quota</label>
        <input class="form-control form-control-sm" type="number" placeholder="Ex. Security" formControlName="minannualquota">
      </div>

      <div class="col-md-6">
        <label class="form-label">Max Annual Quota</label>
        <input class="form-control form-control-sm" type="number" placeholder="Ex. Security" formControlName="maxannualquota">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="form-label">Min Monthly Quota</label>
        <input class="form-control form-control-sm" type="number" placeholder="Ex. Security" formControlName="minmonthlyquota">
      </div>

      <div class="col-md-6">
        <label class="form-label">Max Monthly Quota</label>
        <input class="form-control form-control-sm" type="number" placeholder="Ex. Security" formControlName="maxmonthlyquota">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="form-label">Min Weekly Quota</label>
        <input class="form-control form-control-sm" type="number" placeholder="Ex. Security" formControlName="minweeklyquota">
      </div>

      <div class="col-md-6">
        <label class="form-label">Max Weekly Quota</label>
        <input class="form-control form-control-sm" type="number" placeholder="Ex. Security" formControlName="maxweeklyquota">
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>


  <button form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-outline-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? update : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>

</div>














